.container {
  border: 1px solid black;
  margin: 1px
}

.row {
  border: 1px solid black;
  margin: 1px
}

.col {
  border: 1px solid black;
  margin: 1px
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}